.card {
    position: relative;
    width: 180px;
    height: 300px;
    padding-top: 20px;
    text-align: center;
    background-color: #B8B8B8;
    border-radius: 8px;
}

.card-img {
    max-width: 100px;
    overflow: hidden;
}

.card-descr {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    color: var(--white);
    background-color: var(--black);
    margin: 0;
    padding: 0 10px;
    height: 150px;
    border-radius: 8px;
}

.card-title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
}

.card-year {
    font-weight: 400;
    font-size: 11px;
}

.card-fav {
    height: 36px;
    width: 36px;
    border: 1px solid var(--white);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--black);

    position: absolute;
    bottom: 10px;
    left: 10px;
}